* {
    box-sizing: border-box;
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    --black-color-main: #000;
    --white-color-main: #fff;
    --white-color-semi: rgb(150, 149, 149);
    --secondary-white-color: #dcd7d7;
}
body {
    background-color: var(--black-color-main);
}
.main-container{
    display: none;
}
/* Animation - Loading */

.loader {
    margin: auto;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #ff7a59;
    border-bottom: 20px solid #000000;
    /* border-left: 20px solid #207d7d; */
    width: 200px;
    height: 200px;
    animation: spinner 1s linear infinite;
    position: absolute;
    top: 30vh;
    left: 90vh;
}
.loaderText{
    position: absolute;
        top: 60vh;
        left: 95vh;
        color: var(--white-color-main);
}
.main {
    display: none;
}

@keyframes spinner {
    0% {
        transform: rotate(0DEG);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(-180deg);
        /* Change the degree animation to your choice extent */
    }
}
/* NAVS SECTION */
.navs {
    color: #fff;
    background: #000;
    display: flex;
    justify-content: space-between;
    height: 80px;
    /* margin: 15px; */
    /* height: 200px; */
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 10px 10px 20px rgb(11, 11, 11);
    z-index: 100;
}

.data {
    color: #fff;
    margin-top: 50px;
}

.navs .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.navs .logoSapan {
    color: #ed0c0c;
}

.navbarIcon {
    display: none;
}

.nav-links {
    margin-top: 10px;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-links a {
    /* margin-top: 10px; */
    margin-right: 10px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: #fff;
    color: #020202;
    transition: all .7s ease;
    text-decoration: underline;
    border-radius: 5px;
}
/* style for the moon icon */
.fa-moon, #second-dark{
    font-size: 25px;
}
.fa-moon:hover,
#second-dark:hover{
    color: var(--white-color-semi);
    transition: all .7s ease;
    cursor: pointer;
    border-radius: 5px;
}
#second-dark{
    display: none;
}

/* HOME-SECTION */
#home {
    color: var(--white-color-main);
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.intro {
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 45px;
    max-height: 300px;
    animation-name: bounce;
    animation-iteration-count: 2;
    animation-duration: 7s;
}

.intro a {
    color: #fff;
    text-decoration: none;
}

/* .intro .write-up {
    font-size: 25px;
} */

.intro a:hover {
    color: #000;
}

.coffe {
    /* padding: 2px 6px; */
    height: 50px;
    border: 1px solid var(--white-color-main);
    color: #fff;
    background: transparent;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 10px;
    position: relative;
    bottom: 12px;
    animation-name: buttonRotate;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
#buyCoffee{
    height: 40px;
    padding: 0 7px;
}
@keyframes buttonRotate {
    0%{
        transform: scale(0);
    }
    25%, 50%, 100%{
        transform: scale(0.9, 1.1);
        transition: all .5s ease-in-out;
    }
}

.coffe:hover {
    color: #000;
    background-color: #fff;
    font-weight: bold;
    transform: translateY(10px);
    cursor: grab;
    transition: all .7s;
    box-shadow: 3px 3px 20px #8e8c8c;
}


/* @keyframes bounce {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(0.5);
    }
} */

.intro span {
    color: #ed0c0c;
}
.developerIntro{
    font-size: 40px;
}

.profileImage {
    position: relative;
    top: 30px;
    left: -20px;
}

.developerImage {
    width: 500px;
}

.developerImage:hover {
    filter: brightness(50%);
    cursor: pointer;
    transition: all .7s;
}

/* ABOUT SECTION */
#about {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    color: #fff;
    margin: 30px;
    /* border: 2px solid #fff; */
}

.developerImage2 {
    background-color: gray;
    /* position: relative;
    top: 50px; */
    max-height: 500px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 7s;
}

@keyframes rotate {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.9);
        transition: .5s;
    }

    50% {
        transform: scale(0.5);
        transition: .5s;

    }

    75% {
        transform: scale(1.0);
        transition: .5s;

    }

    100% {
        transform: scale(0.8);
        transition: .5s;

    }
}

.info {
    width: 55%;
    margin-top: 20px;
}
/* .skill-set{
    
}
.edu-set{

}
.exp-set{

} */
.MySkills button{
    border: none;
    margin: 10px;
    padding: 4px 8px;
    border-radius: 5px;
    background: #ffa500;
    color: var(--white-color-main);
}
.MySkills button:hover{
    cursor: pointer;
    /* text-decoration: underline; */
    transition: all .4s ease-in;
    /* background: var(--white-color-main); */
    transform: translateY(-10px);
}
#skill-set{
    background: var(--white-color-main);
    color: var(--black-color-main);
    border-bottom: 4px solid #ffa500;
}
/* For Skills - Content */
.skills-Parent{
    position: relative;
        max-width: 500px;
        width: 100%;
        background: #fff;
        /* background: rgb(91, 88, 88); */
        margin: 0 20px;
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--black-color-main);
}
.skills-Parent:hover{
    cursor: pointer;
    rotate: 2.5deg;
        transition: .5s ease;
}
.Edu:hover, .exp:hover{
    cursor: pointer;
    background: #9b3333;
    color: var(--secondary-white-color);
    transition: .5s ease;
    transform: rotate(2.5deg);
}
.skills-Parent .skill-box{
    width: 100%;
    margin: 25px 0;
}
.titleHTML, .title.bootstrap, .title.Git, .title.JS{
    display: block;
        font-size: 18px;
        font-weight: 600;
}
.skill-bar {
    width: 100%;
    height: 8px;
    background: rgb(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-top: 6px;
}
.skill-per{
    position: relative;
        display: block;
        width: 90%;
        height: 100%;
        background: #4070f4;
        border-radius: 7px;
        animation: progress 0.7s ease-in-out forwards;
        /* opacity: 0; */
}
.skill-per.css{
    width: 70%;
    animation-delay: 0.1s;
}
.skill-per.bootstrap{
    width: 70%;
    animation-delay: 0.2s;
}
.skill-per.javascript{
    width: 50%;
    animation-delay: 0.3s;
}
.skill-per.git{
    width: 50%;
    animation-delay: 0.4s;
}
@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.skill-per .toolcent{
    position: absolute;
        right: -14px;
        top: -28px;
        background: #4070f4;
        font-size: 9px;
        font-weight: 500;
        color: #fff;
        padding: 2px 6px;
        border-radius: 3px;
        z-index: 1;
}
.toolcent::before{
    position: absolute;
        content: "";
        left: 50%;
        height: 10px;
        width: 10px;
        z-index: -1;
        bottom: -2px;
        background-color: #4070f4;
        transform: translateX(-50%) rotate(45deg);
}
  
/* .skills, .experince, .education{
    padding: 35px;
} */
.Edu{
    /* background: var(--white-color-main); */
    background: rgb(91, 88, 88);
    color: var(--white-color-main);
    padding: 15px 20px;
    border-radius: 8px;
    animation-name: eduRotate;
    animation-duration: 4s;
    animation-iteration-count: 1;
    transition: .2s ease-in-out;
    display: none;
}
@keyframes eduRotate {
    0% {
            transform: scale(0);
        }
    
        50%,
        100% {
            transform: scale(1.0, 1.0);
        }
    }

hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: 5px;
}
.schoolInfo, .schoolinfo2, .schoolinfo3{
    padding: 15px 10px;
}
.info1, .info2, .info3{
    display: flex;
    justify-content: space-between;
}
/* Experience */
.exp{
    /* background: var(--white-color-main) */
    background: rgb(91, 88, 88);
    color: var(--white-color-main);
    padding: 15px 20px;
        border-radius: 8px;
        animation-name: eduRotate;
            animation-duration: 4s;
            animation-iteration-count: 1;
            transition: .2s ease-in-out;
            display: none;
}
.workinfo, .workinfo2{
    display: flex;
    justify-content: space-between;
}
.expInit, .exp2{
    padding: 15px 10px;
}

.developerAbout {
    margin-top: 100px;
    /* position: relative;
    top: 50px; */
    font-size: 20px;
    margin-right: 20px;
}

.developerAbout .aboutHeader {
    font-size: 2.5rem;
}

.developerAbout p {
    text-align: justify;
}

.developerAbout a {
    color: #ffa500;
}

.developerImage3 {
    width: 200px;
    position: relative;
    bottom: 30px;
}

.developerPic:hover {
    filter: contrast(50%);
    cursor: pointer;
    transition: all .7s;
    transform: translateY(-10px);
}

/* SERVICES SECTION  */
#services {
    margin: 50px;
    color: #fff;
    position: relative;
    top: 30px;
}

#services div:hover {
    cursor: grabbing;
}

.developerServicesHeader {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.servicesContainer {
    display: flex;
    justify-content: space-between;
}

.servicesContainer div {
    margin: 20px;
    padding: 20px;
    background: rgb(91, 88, 88);
    border-radius: 15px;
    width: auto;
    height: auto;
}

.servicesContainer div:hover {
    background: #9e2323;
    transition: all .7s;
    transform: translateY(-15px);
}

.servicesContainer i {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    text-align: center;
}

.servicesContainer div h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px;
}

.servicesContainer div p {
    font-size: 18px;
    margin: 10px;
    text-align: justify;
}




/* PORTFOLIO-SECTION */
#portfolio {
    margin: 50px;
    color: #fff;
}

.portfolio-containers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin: 10px;
}


/* .project1Pic, .project2Pic, .project3Pic, .project4Pic{
    /* max-width: 250px; */
.project {
    position: relative;
}

.projetcinfo {
    position: absolute;
    display: none;
    top: 0%;
    text-align: center;
    /* background: linear-gradient(to right rgba(0, 0, 0, 0.168), rgba(0, 0, 0, 0.158)); */
    background-color: rgba(0, 0, 0, 0.523);
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.project img {
    width: 100%;
    border-radius: 10px;
    border: 4px solid #f3f3f3;
}

.portfolio-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.project:hover>.projetcinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background: linear-gradient(to right rgba(0, 0, 0,), rgba(0, 0, 0, 0.158)); */
    /* align-self: center; */
    /* transform: scale(0.3); */
}

.projetcinfo:hover {
    cursor: pointer;
    transition: all .7s ease-in-out;
    font-weight: bold;
    transform: scale(0.8, 0.8);
    background: rgba(13, 13, 13, 0.567);
    border-radius: 5px;
}

.Project-Title {
    position: relative;
}
.project-admin{
    font-size: 25px;
    font-weight: bold;
}
/* Styling for the project links buttons */
.projectGitLink{
    width: 100px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
}
.projectGitLink:hover{
    background-color: rgb(14, 14, 14);
    transition: all .4s;
    color: rgb(246, 243, 243);
}
.projectGitLink a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.projectGitLink a:hover{
    color: rgb(245, 240, 240);
    text-decoration: underline;
}
.projectLink{
    width: 100px;
    height: 50px;
    border: 2px solid #fff;
    background: rgb(14, 14, 14);
    border-radius: 5px;
    color: #fff;
    margin-left: 5px;
}
.projectLink:hover{
    background: transparent;
    transition: all .4s;
}
.projectLink a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.projectLink a:hover{
    text-decoration: underline;
}
/* Explore more section */
.more{
    margin: 35px 0;
    height: 50px;
    width: 180px;
    font-size: 1.5rem;
    background: transparent;
    border: 2px solid rgb(120, 10, 10);
    border-radius: 8px;
}
.more:hover{
    transition: all .4s;
    transform: translateX(15px);
    cursor: pointer;
    font-weight: bold;
    background: #ffa500;
    /* border: 2px solid #fff; */
    border: none;
}
.more a{
    color: #fff;
    text-decoration: none;
}
.more-arrow{
    margin-left: 10px;
    color: #fff;
}
/* .Project-text{
    
} */
/* .project1{
    background-color: red;
}
.project2{
    background-color: yellow;
} */



/* HOBBIES-SECTION  */
#hobbies {
    color: #fff;
    margin: 50px;
    /* background-color: #9e2323; */
}

.hobbiesHeader {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.hobbiesContainer1 {
    display: flex;
    justify-content: space-between;
}

.hobbiesContainer1 div {
    /* background-color: #020202; */
    background: rgb(91, 88, 88);
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    border-radius: 10px;
}

.hobbiesContainer1 div:hover {
    background: #9e2323;
    /* height: 100px; */
    transition: all .7s;
    cursor: pointer;
    transform: translateX(20px);
}

.hobbiesContainer1 div i {
    margin: 10px;
    font-size: 30px;
}
                                            /* CONTACT SECTION */
#contact{
    color: #fff;
    margin: 50px;
}
.contactHeader{
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 20px;
}
.contact-subSection{
    display: flex;
    justify-content: space-around;
}
.contactHandles{
    margin-top: 30px;
    margin-left: 30px;
}
.email, .phoneCall{
    display: flex;
    padding-top: 10px;
    font-size: 20px;
}
.email-text a, .phoneCall a{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
} 
.contactHandles a:hover{
    color: #ffa500;
    font-weight: bold;
    text-decoration: underline;
}
.fa-envelope, .fa-phone{
    color: rgb(186, 11, 11);
    font-size: 25px;
}
.socialMediaContacts{
    margin: 20px 0;
}
.socialMediaContacts button{
    background: none;
    border: none;
}
.socialMediaContacts i{
    font-size: 25px;
    color: #fff;
    padding: 10px;
}
.socialMediaContacts i:hover{
    color: #ffa500;
}
.certificate, .resume{
    background: rgb(186, 11, 11);
    width: 140px;
    font-weight: bold;
    height: 50px;
    color: rgb(246, 243, 243);
    border: 2px solid rgb(186, 11, 11);
    border-radius: 7px;
    
}
.resume{
    margin-left: 0;
    margin-top: 15px;
}
.certificate:hover,
.resume:hover{
    background: transparent;
    transition: all .5s;
    transform: scale(1.2, 1.3);
    cursor: grab;
}
.certificate a, .resume a{
    color: #fff;
    text-decoration: none;
}
/* styling for contact form */
.contactForm{
    margin-top: 50px;
    margin-left: 120px;
}  
.nameInput, .emailInput{
    width: 450px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(150, 150, 150);
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
}
.nameInput:hover, 
.emailInput:hover,
#YourTextMsg:hover{
    transition: all .8s;
    transform: scale(1.1, 1.2);
    border: 2px solid rgb(224, 210, 12);
}
#YourTextMsg{
    width: 450px;
    height: 200px;
    outline: none;
    border: none;
    border-radius: 8px;
    background: rgb(150, 150, 150);
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: none;
    padding: 10px;
    color: #fff;
}

::placeholder{
    color: #fff;
    font-size: 17px;
    text-transform: none;
}
.submitBtn{
    width: 100px;
    height: 50px;
    color: #fff;
    background: rgb(186, 11, 11);
    border-radius: 8px;
    border: 2px solid rgb(186, 11, 11);
    font-size: 18px;
}
.submitBtn:hover{
    background-color: transparent;
    transform: translateX(15px);
    transition: .4s ease-in-out;
}

#footer{
    margin: 0;
    color: #fff;
    background: rgb(123, 123, 123);
    padding: 10px;
    text-align: center;
}
/* linkedIn */
/* #linkedpro{
    text-align: center;
    overflow-y: hidden;
} */
.linkedInProfile{
    text-align: center;
    /* background: var(--black-color-main); */
    /* height: 500px; */
    overflow: hidden;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#linkedpro{
    position: relative;
        left: 30px;
}
.footerHeadre{
    font-size: 2.7rem;
}
.nav-linksFooter ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: 20px;
}
.nav-linksFooter ul li{
    padding: 15px;
}
.nav-linksFooter ul li a{
    color: #fff;
    text-decoration: none;
}
.nav-linksFooter a:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .5s;
    text-decoration: underline;
    font-weight: bolder;
}
.contact-Links-Social button{  
    border: none;
    background: none;
    padding: 15px;
}
.contact-Links-Social i{
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: #000;
    border-radius: 8px;
}
.main-Foot{
    margin-top: 15px;
    font-size: 17px;
}
/* styling for google translate page */
.goog-te-combo{
    width: 150px;
    height: 70px;
    border-radius: 10px;
    outline: none;
}
.goog-te-combo:hover{
    border: 2px solid rgb(11, 11, 11);
    cursor: pointer;
}
.VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-l4eHX-hSRGPd:link{
    display: none;
}
/* .VIpgJd-ZVi9od-ORHb img{
    display: none;
}
.VIpgJd-ZVi9od-LgbsSe {
    display: none;
}
.VIpgJd-ZVi9od-LgbsSe button{
    display: none;
} */
@media (width <=820px) {
/* For our Animation Style */
.loader {
        /* border-left: 20px solid #207d7d; */
        top: 30vh;
        left: 14vh;
    }

    .loaderText {
        position: absolute;
        top: 59vh;
        left: 20vh;
        color: var(--white-color-main);
    }
    /* *{
        overflow-x: hidden;
    } */
    .navbarIcon {
        display: block;
    }

    .navbarActive {
        border: 3px solid rgb(150, 150, 150);
        background-color: transparent;
        width: 35px;
        padding: 2px 4px;
        height: 35px;
        border-radius: 7px;
        margin-top: 10px;
        color: var(--secondary-white-color);
        font-size: 25px;
    }

    #navbarCancel{
        border: 3px solid rgb(150, 150, 150);
            background-color: transparent;
            padding: 2px 6px;
            width: 35px;
            height: 35px;
            border-radius: 7px;
            margin-top: 10px;
            color: var(--secondary-white-color);
            font-size: 25px;
        display: none;
    }
    .navbarActive:hover,
    #navbarCancel:hover{
        cursor: pointer;
        transition: all 5s ease-in-out;
    }

    .nav-links ul li {
        margin: 15px;
    }
    .hide-menu{
        background: var(--black-color-main);
        transition: all .7s ease-in-out;
    }
    .nav-links {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        transition: all .7s ease-in-out;
        background-color: orange;
        border-radius: 35px;
        width: 100%;
        transform: translateY(10px);
        animation-name: navAnimC;
            animation-iteration-count: 1;
            animation-duration: 7s;
        /* z-index: -500; */
    }
    @keyframes navAnimC {
        0% {
                /* height: 0; */
                width: 0;
            }
        
            20%,
            50%,
            100% {
                /* height: 550px; */
                width: 100%;
            }
    }
    /* nav-remove animation */
        @keyframes hideNav {
            0% {
                width: 100%;
            }
    
            100% {
                width: 0;
            }
        }
    .nav-links a {
        display: block;
        text-align: center;
    }

    .nav-links a:hover {
        width: 100%;
    }

    .nav-links ul {
        display: block;
    }

    /* HOME-SECTION */
    #home {
        display: block;
    }

    .intro {
        position: relative;
        top: 100px;
        left: 50px;
        font-size: 30px;
        width: 100%;
        z-index: -100;
    }

    .profileImage {
        position: relative;
        top: 130px;
        left: -20px;
        width: 50%;
    }

    .developerImage {
        width: 250px;
        position: relative;
        left: 30px;
    }

    /* ABOUT SECTION */
    #about {
        display: block;
        color: #fff;
        text-align: center;
    }

    .developerImage2 {
        background-color: rgb(75, 74, 74);
        padding: 10px;
        border-radius: 10px;
        position: relative;
        top: 100px;
    }

    .info {
        display: flex;
        width: 100%;
        margin-top: 20px;
    }
    /* Skills Section */
    .title.bootstrap{
        position: relative;
            right: 50px;
    }
    .title.JS{
        position: relative;
        right: 70px;
    }
    .title.Git{
        position: relative;
        right: 70px;
    }

    .developerAbout {
        margin-top: 170px;
        /* position: relative;
    top: 50px; */
        font-size: 20px;
    }

    .developerPic {
        width: 200px;
    }

    /* .skills, .experince, .education{
    padding: 35px;
} */
    /* .skillsContents ul,
    .experienceContents ul,
    .educationContents ul {
        list-style-type: none;
    } */

    /* SERVICES SECTION  */
    #service {
        position: relative;
        top: 0;
    }

    .servicesContainer {
        display: block;
    }

    .servicesContainer div {
        margin: 20px;
        padding: 20px;
        width: auto;
        height: auto;
    }

    /* .developerServicesHeader{
    text-align: center;
} */


    /* PORTFOLIO SECTION */

    .portfolio-containers {
        display: block;
    }

    .project {
        padding: 10px;
    }

    .projetcinfo {
        width: 95%;
    }


    /* HOBBIES-SECTION  */
    #hobbies {
        color: #fff;
        margin: 50px;
    }

    .hobbiesContainer1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        overflow-x: scroll;
        /* text-align: center; */
    }

    .hobbiesContainer1 div {
        text-align: center;
        margin-left: 35px;
    }
                                                /* CONTACT SECTION */
    /* for the contact section sub-section */
    .contact-subSection{
        display: block
    }
    .resume{
        margin-top: 20px;
        margin-left: 0;
    }
    /* for the contact form  */
    .nameInput, .emailInput, #YourTextMsg{
        width: 250px;
    }
    .contactForm{
        margin-left: 20px;
    }


}